li{
    list-style-type: none;
}

.user, .nav-item{
    text-decoration: none;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.nav-item{
    top: 0px;
    width: 9vw;
    height: 14vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:not(.active):hover{
    background: gray 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.active{
    background: #5861AE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.nav-item:hover .text, .active .text{
    color: #FFFFFF;
}

.logo-container{
    position:absolute;
    top: 0;
    left: 2.8rem;
    width: 15vw;
    height: 14vh;
    flex-grow: 1;
}


.logo-text{
    text-align: left;
    font: normal normal 900 2.60vw/6.21vh Avenir;
    letter-spacing: 0.1rem;
    color: #5861AE;
    text-transform: uppercase;
    opacity: 1;
    padding: 1vw;
}

.text{
    text-align: center;
    font: normal normal normal 0.8rem/1.1rem Avenir;
    letter-spacing: 0.06rem;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
}

.nav-user{
    top: 0rem;
    width: 13.3rem;
    height: 5rem;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-photo{
    top: 1.18rem;
    width: 2.68rem;
    height: 2.68rem;
    background: transparent url('../../public/images/user.webp') 0% 0% no-repeat padding-box;
    background-size: cover;
    box-shadow: 0rem 0.18rem 0.37rem #00000029;
    opacity: 1;
    border-radius: 50%;
    margin-left: 1.40rem;
    margin-right: 0.5rem;
    align-items: center;
}

.user-name{
    top: 1.81rem;
    left: 81.6rem;
    height: 1.3rem;
}

.user-text{
    text-align: center;
    font: normal normal medium 1rem/1.3rem Avenir;
    letter-spacing: 0.07rem;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}